
.fastFood {
    text-align: center;
    font-weight: 900;
    color: royalblue;
    font-style: oblique;
    font-family: 'Courier New', Courier, monospace;
}

.div-container {
    text-align: center;
    h1 {
        font-weight: bolder;
        color: red;
        margin-top: 10px;
    }
    span {
        word-spacing: 5px;
        color: green;
        font-weight: bold;        
    }
}

.food-div .food-img {
    width: 450px;
    max-height: 300px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}
